<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="container">
      <div class="form-container">
        <h2><%= message %></h2>
      </div>
      <hr />
      <div class="canvas-container">
        <canvas id="pdf-canvas"></canvas>
      </div>
    </div>

    <script type="module">
      import * as pdfjsLib from "./js/pdfjs/pdf.mjs";
      pdfjsLib.GlobalWorkerOptions.workerSrc = "js/pdfjs/pdf.worker.mjs";
      fetch("/resume")
        .then((res) => res.arrayBuffer())
        .then((buf) => {
          const blob = new Blob([buf], { type: "application/pdf" });
          const url = URL.createObjectURL(blob);

          const canvas = document.getElementById("pdf-canvas");
          const ctx = canvas.getContext("2d");

          const loadingTask = pdfjsLib.getDocument(url);
          loadingTask.promise
            .then((pdf) => {
              pdf.getPage(1).then((page) => {
                const viewport = page.getViewport({ scale: 1 });
                canvas.height = viewport.height;
                canvas.width = viewport.width;
                page.render({
                  canvasContext: ctx,
                  viewport: viewport,
                });
              });
            })
            .catch((err) => {
              console.error(err);
            });
        });
    </script>
  </body>
</html>
