<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/layout/head') %>
  <body>
    <div class="container-fluid position-fixed top-0 bottom-0">
      <div class="row justify-content-between h-100">
        <div class="col-4">
          <%- include('./partials/resume/personalDetails') %> <%-
          include('./partials/resume/employmentHistory') %>
        </div>
        <div class="col-6 bg-secondary">
          <div
            class="d-flex justify-content-center align-items-center position-relative h-100 mx-auto"
          >
            <div class="bg-white rounded-1 canvas position-relative">
              <canvas id="canvas-1" class="pdf-canvas"></canvas>
              <canvas id="canvas-2" class="pdf-canvas"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/htmx/htmx.min.js"></script>
    <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
    <script type="module" src="js/scripts/initialResumeFetch.js"></script>
    <script type="module" src="js/scripts/fetchResumeChange.js"></script>
  </body>
</html>
