<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume Builder</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container mt-5">
      <div class="row justify-content-between">
        <div class="col-4">
          <!-- make a template part for the form -->
          <div class="row">
            <div class="col">
              <input
                type="text"
                class="form-control"
                id="role"
                placeholder="Desired Role"
                aria-label="desired role"
                value="<%= resume.role %>"
              />
            </div>
            <div class="col">
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Full Name"
                aria-label="Full Name"
                value="<%= resume.name %>"
                hx-post="resume"
                hx-trigger="keyup changed delay:750ms"
              />
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="bg-secondary">
            <canvas id="pdf-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <script src="js/htmx/htmx.min.js"></script>
    <script type="module">
      import * as pdfjsLib from "./js/pdfjs/pdf.mjs";
      pdfjsLib.GlobalWorkerOptions.workerSrc = "js/pdfjs/pdf.worker.mjs";
      fetch("/resume")
        .then((res) => res.arrayBuffer())
        .then((buf) => {
          const blob = new Blob([buf], { type: "application/pdf" });
          const url = URL.createObjectURL(blob);

          const canvas = document.getElementById("pdf-canvas");
          const ctx = canvas.getContext("2d");

          const loadingTask = pdfjsLib.getDocument(url);
          loadingTask.promise
            .then((pdf) => {
              pdf.getPage(1).then((page) => {
                const viewport = page.getViewport({ scale: 1 });
                // console.log(canvas.height, canvas.width);
                canvas.height = viewport.height;
                canvas.width = viewport.width;
                page.render({
                  canvasContext: ctx,
                  viewport: viewport,
                });
              });
            })
            .catch((err) => {
              console.error(err);
            });
        });
    </script>
  </body>
</html>
