.canvas {
  min-width: 550px;
  height: 85%;
}

.pdf-canvas {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left top;
  border-radius: 15px;
  opacity: 1;
  transition: all 0.25s;
}

.fade-in {
  animation: fadeIn 0.25s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
